.footer-container{
  width: 100%;
}

.footer-container-contents{
  display:flex;
  flex-direction:row;
  width: 100%;
  justify-content: center;
}

/* Logo */
.footer-logo{
  width: 20%;
  display:flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

.footer-logo-img{
  width: 99px;
}

.footer-logo img{
  width: 100%;
  border-radius: 50%;
}

.footer-logo-title{
  font-size: 1.5rem;
  font-weight: bold;
}


/* Links */

.footer-links-container{
  display: flex;
  flex-direction: row;
}

.footer-links-header{
  font-size: 14px; 
  font-weight: bold;
}
.footer-links-list{
  margin: 0px 20px;
}


.footer-links ul{
  list-style-type: none;
}

.footer-links ul li a{
  text-decoration: none;
  color: #000;
  font-size: 11px;
}

/* Footer Social Media */

.footer-others-container{
  display:flex;
  justify-content: flex-start;
  align-content: center;
  align-items:flex-start;
  flex-direction:column
}

.footer-info-header p {
  font-size: 14px;
  padding-bottom: 10px;
  font-weight: bold;
}

.footer-info-subtitle p {
  font-size: 11px;
  padding-bottom: 10px;
}


.footer-social-media{
  padding-top: 10px;
  display:flex;
  justify-content: center;
  align-items: flex-end;
}

.footer-social-media ul{ list-style-type:none;
}

.footer-social-media ul li{
  display: inline-block;
}

.footer-social-media a img{
  width: 25px;
  margin: 0px 5px;
}

@media screen and (max-width: 875px){
  .footer-container-contents{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 500px){
  .footer-links-container{
    display:flex;
    justify-content: center;
    align-content: center;
    align-items:baseline;
    flex-direction:column;
    text-align:center;
  }
  .footer-links-list{
    margin: 10px 0px;
    width: 150px;
  }
  .footer-links-header{
    font-size: 22px; 
    font-weight: bold;
    padding-bottom: 10px;
  }
  .footer-links{
    text-align: center;
  }
}